.nav-wrapper{
    padding-left: 15px;
    padding-right: 15px;
}

.top-buffer{
    padding-top: 15px;
}

.inline-pad{
    padding-left: 5px;
    padding-right: 5px;
}

.block-display{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-block{
    margin-bottom: 25px;
}

.clear{
    clear: both;
}

.aux-temp span{
    padding-right: 15px;
}

.astronomy{
    margin-top: 5px;
}

.little-icon{
    font-size: 1.6em;
}

.pad-left-8{
    padding-left: 8px;
}

.bot-margin-5{
    margin-bottom: 5px;
}

.small-title{
    font-size: 22px!important;
}
/*
@601px materialize goes to a medium screen
@993px materialize goes to a large screen*/

/* So we are going to split the cards like this:
Small:
    0px     -> 447px
    601px   -> 839px
    993px   -> 1231px
Large:
    448px   -> 600px
    840px   -> 992px
    1232px  -> upwards
*/

/*Query for small cards*/
@media
    (min-width: 0px)   and (max-width: 447px),
    (min-width: 601px) and (max-width: 839px),
    (min-width: 993px) and (max-width: 1231px){

    .aux-temp > span{
        display: inline;
    }

    .block-on-small{
        display: block;
    }

    .info-box{
        width: 100%;
    }

    .hide-on-small{
        display: none!important;
    }
}

/*Query for large cards*/
@media
    (min-width: 448px)  and (max-width: 600px),
    (min-width: 840px)  and (max-width: 992px),
    (min-width: 1232px){

    .aux-temp > span{
        display: block;
    }

    .block-on-small{
        display: inline;
    }

    .info-box{
        float: left;
        width: 38%;
    }

}

.more-button{
    position: absolute;
    top: 15px;
    right: 15px;
}
.main-info{
    height: 70%;
    width: 100%;
}

.small-info{
    width: 60%;
    float: left;
}

.info-box{
    padding-left: 5px;
}

.main-info-box{
    width: 38%;
    float: left;
    padding-left: 15px;
}

.main-icon{
    float: left;
    height: 100%;
    width: 70px;
}

.main-icon i{
    font-size: 5em;
}

.subtitle{
    font-size: 1.3em;
}

.current-temp{
    font-size: 2em;
}

.current-condition{
    height: 3.2em;
}

.small-text{
    font-size: 0.7rem;
    position: absolute;
    bottom: 3px;
    right: 10px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}


/* FORECAST related css */
.forecast{
    float: left;
    padding-left: 8px;
    padding-right: 3px;
    position: relative;
}

.forecast:after{
    content: "";
    border-right: 1px solid #e0e0e0;
    position: absolute;
    top: 10%;
    height: 80%;
    right: 0px;
}

.right-border{
}

.forecast-icon{
    float: left;
    font-size: 2em;
}

.forecast-temp{
    float: left;
}

.forecast-info{
    padding-top: 8px;
}


/* Selector css */
.selector{
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.columns{
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
    overflow-y: auto;
    overflow-x: hidden;
}
/*remove standard list and bullet formatting from ul*/
.columns ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child{
    margin-top:0px;
}

.columns li{
    padding-top: 6px;
    padding-bottom: 6px;
}

#submit-button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 120px;
    display: block;
}
